<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rx Savings Solution</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/js/script.js"></script>

</head>

<body>
    <div>
        <h1>Nearest pharmacy based on the current location</h1>
        <p>
            Current latitude: <span id="latitude"></span>&deg;<br /> Current longitude: <span id="longitude"></span>&deg;

        </p>
        <button id="submit" onclick="submit()">SUBMIT</button>

        <h2>Pharmacy Results</h2>

        <section id="list_pharmacy">

        </section>

        <table>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>Zip Code</th>
                <th>Distance</th>

            </tr>
            <tr>
                <td id="pharmacyName">Click on submit</td>
                <td id="pharmacyAddress">Click on submit</td>
                <td id="pharmacyCity">Click on submit</td>
                <td id="pharmacyZip">Click on submit</td>
                <td id="Dist">Click on submit</td>
            </tr>
        </table>
    </div>

</body>

</html>